---
http_interactions:
- request:
    method: get
    uri: https://test.com/api/netverify/v2/scans/1828c1ec-2f87-46ce-b3c9-cc47a1241bb0/data
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OTRkOWFlOTEtYzViOC00ZTY2LWJmMWUtZDQxYzQ5MjM0MjczOkFoaTFzcWpLeDVZRThDbFFkZFNlQUlTZ2o1Q1lHSVpx
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trackingid:
      - ec9c3210-6fe8-412d-9d6c-e7247b23457d
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2019-05-03T21:12:20.601Z","scanReference":"1828c1ec-2f87-46ce-b3c9-cc47a1241bb0","document":{"type":"DRIVING_LICENSE","address":{"country":"CAN","streetNumber":"3348","streetName":"CONISTON","streetSuffix":"CR","city":"CUMBERLAND","stateCode":"CA-BC","zip":"V0R
        1S0"},"dob":"1982-08-03","expiry":"2019-08-03","firstName":"KEVIN BRADLEY","issuingCountry":"CAN","lastName":"ATTFIELD","number":"7054509","status":"APPROVED_VERIFIED","usState":"BC"},"transaction":{"customerId":"spree_users:59","date":"2018-11-02T22:35:18.763Z","merchantScanReference":"age_verifications:59","source":"WEB_UPLOAD","status":"DONE"},"verification":{"identityVerification":{"similarity":"MATCH","validity":"true"},"mrzCheck":"NOT_AVAILABLE"}}'
  recorded_at: Fri, 03 May 2019 21:12:20 GMT
recorded_with: VCR 4.0.0
