---
http_interactions:
- request:
    method: get
    uri: https://netverify.com/api/netverify/v2/scans/af5e6caa-b679-48b0-9509-1a14125a9cb8/data
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OTRkOWFlOTEtYzViOC00ZTY2LWJmMWUtZDQxYzQ5MjM0MjczOkFoaTFzcWpLeDVZRThDbFFkZFNlQUlTZ2o1Q1lHSVpx
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trackingid:
      - e32f44b1-71fb-4993-a25d-2ce6dca6eaa6
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2018-11-14T23:03:08.324Z","scanReference":"af5e6caa-b679-48b0-9509-1a14125a9cb8","document":{"type":"DRIVING_LICENSE","issuingCountry":"USA","status":"ERROR_NOT_READABLE_ID"},"transaction":{"customerId":"spree_users:81685","date":"2018-11-14T00:38:34.693Z","merchantScanReference":"age_verifications:81342","source":"WEB_CAM","status":"DONE"},"verification":{"mrzCheck":"NOT_AVAILABLE","rejectReason":{"rejectReasonCode":"200","rejectReasonDescription":"NOT_READABLE_DOCUMENT","rejectReasonDetails":{"detailsCode":"2001","detailsDescription":"BLURRED"}}}}'
  recorded_at: Wed, 14 Nov 2018 23:03:08 GMT
recorded_with: VCR 4.0.0
