---
http_interactions:
- request:
    method: get
    uri: https://netverify.com/api/netverify/v2/scans/fb0591b0-caa5-42d4-a37a-ad19411bc32f/data
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OTRkOWFlOTEtYzViOC00ZTY2LWJmMWUtZDQxYzQ5MjM0MjczOkFoaTFzcWpLeDVZRThDbFFkZFNlQUlTZ2o1Q1lHSVpx
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trackingid:
      - '09d611cf-48b9-4dfe-a05f-b345f8c5286d'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2018-11-14T23:36:31.426Z","scanReference":"fb0591b0-caa5-42d4-a37a-ad19411bc32f","document":{"type":"DRIVING_LICENSE","issuingCountry":"USA","status":"DENIED_FRAUD"},"transaction":{"customerId":"spree_users:51","date":"2018-11-02T00:17:40.564Z","merchantScanReference":"age_verifications:52","source":"WEB_UPLOAD","status":"DONE"},"verification":{"mrzCheck":"NOT_AVAILABLE","rejectReason":{"rejectReasonCode":"100","rejectReasonDescription":"MANIPULATED_DOCUMENT","rejectReasonDetails":[{"detailsCode":"1007","detailsDescription":"SECURITY_CHECKS"},{"detailsCode":"1004","detailsDescription":"DOB"}]}}}'
  recorded_at: Wed, 14 Nov 2018 23:36:31 GMT
recorded_with: VCR 4.0.0
